{# templates/avis/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Laissez un avis{% endblock %}

{% block body %}
<h2>Laissez un avis</h2>

{{ form_start(form) }}
    {{ form_row(form.pseudo) }}
    {{ form_row(form.commentaire) }}
    {# Ajoutez d'autres champs selon votre entité AvisType #}
    {{ form_row(form.note) }}
    <button type="submit">Soumettre</button>
{{ form_end(form) }}
{% endblock %}
